
@{
    ViewBag.Title = "Adding a guitar";
}


<div>
    <h3>Adding form</h3>
    <p>Fill the fields:</p>
    <form asp-action="AddNewGuitar" asp-controller="Guitars">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" /> </td>
            </tr>
            <tr>
                <td>Company:</td>
                <td><input type="text" name="Company" /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" name="Price" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>